.page-advantages {
  scroll-behavior: smooth;
}
.page-advantages__wrapper {
        margin:0 auto;
        width: 61%;
        box-sizing: border-box;
        padding-bottom: 50px;
}
.advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
    list-style: none;
    margin:0 auto;
    padding:0;
    width: 100%;
    margin-top: 109px;
}
.advantages-item {
    position: relative;
    display: flex;
    flex-direction: column;
    border-top:1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 3px solid #00B2FF;
    min-height: 259px;
    width: calc(50% - 15px);
    cursor: pointer;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-right: 42px;
    align-self: stretch;
    box-sizing: border-box;
    transition: ease-in 0.2s;
}
.advantages-item__image {
    margin-left: 45px;
}
.advantages-item:nth-child(odd) {
    margin-right: 30px;
}
.advantages-item h3 {
    position: relative;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    color:#00B2FF;
    margin-left: 45px;
}
.advantages-item p {
    font-family: 'PT Mono', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color:#666666;
    margin-left: 45px;
}
.advantages-item:hover {
  background-color: #00B2FF;
}
.advantages-item:hover h3,
.advantages-item:hover p {
  color:#ffffff;
}
.advantages-item:nth-child(1n):hover::before
 {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(/img/icon-timer-hover.svg) no-repeat;
  top:40px;
  left:45px;
  background-size: contain;
 }
.advantages-item:nth-child(2n):hover::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(/img/icon-suppliers-hover.svg) no-repeat;
  top:40px;
  left:45px;
}
.advantages-item:nth-child(3n):hover::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(/img/icon-confidence-hover.svg) no-repeat;
  top:40px;
  left:45px;
}
.advantages-item:nth-child(4n):hover::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(/img/icon-offer-hover.svg) no-repeat;
  top:40px;
  left:45px;
}
@media(max-width:1023px) {
  .page-advantages__wrapper {
    width: 93.5%;
  }
  .advantages-item {
    padding-top: 24px;
  }
  .advantages-item__image {
    margin-left: 27px;
  }
  .advantages-item h3 {
    margin-left: 27px;
}
.advantages-item p {
  margin-left: 27px;
}
.advantages-item:nth-child(1n):hover::before
 {
  top:25px;
  left:27px;
 }
.advantages-item:nth-child(2n):hover::before {
  top: 25px;
  left:27px;
}
.advantages-item:nth-child(3n):hover::before {
  top:25px;
  left:27px;
}
.advantages-item:nth-child(4n):hover::before {
  top:25px;
  left:27px;
}
}
@media(max-width:767px) {
  .page-advantages__wrapper {
    width: 90.6%;
  }
  .advantages-list {
    flex-direction: column;
    margin-top: 40px;
  }
  .advantages-item {
    padding-right: 15px;
    width: 100%;
    border-left: 2px solid #00B2FF;
  }
  .advantages-item__image {
    margin-left: 22px;
}
  .advantages-item h3 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 22px;
  }
  .advantages-item p {
    margin-top: 0px;
    margin-left: 23px;
    line-height: 22px;
  }
  .advantages-item:nth-child(odd) {
    margin-right: 0px;
}
.advantages-item {
  margin-bottom: 20px;
}
.advantages-item:last-child {
  margin-bottom: 0px;
}
.advantages-item:nth-child(1n):hover::before
 {
  top:25px;
  left:28px;
 }
.advantages-item:nth-child(2n):hover::before {
  top: 25px;
  left:28px;
}
.advantages-item:nth-child(2n) {
  min-height: 310px;
}
.advantages-item:nth-child(3n):hover::before {
  top:25px;
  left:28px;
}
.advantages-item:nth-child(3n)  {
  min-height: 232px;
}
.advantages-item:nth-child(3n) h3 {
  margin-top: 11px;
  margin-bottom: 15px;
}
.advantages-item:nth-child(3n) svg {
  margin-top: 3px;
  margin-left: 18px;
}
.advantages-item:nth-child(4n):hover::before {
  top:25px;
  left:28px;
}
.advantages-item:nth-child(4n) {
  min-height: 244px;
}
.advantages-item:nth-child(4n) h3 {
  margin-bottom: 18px;
}
}
