.page-about__wrapper {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    width: 61%;
    box-sizing: border-box;
    background:url(/img/2005-desktop@1x.png) no-repeat;
    background-size:contain;
    background-position: -28px 0px;
}
.page-about h2 {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    color:#666666;
    margin:0;
    margin-bottom: 18px;
    margin-left: 180px;
}
.page-about p {
    font-family: 'PT Mono', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color:#666666;
    margin:0;
    max-width: 87%;
    margin-left: 180px;
    height: inherit;
}
.page-about p:first-of-type{
    margin-bottom: 20px;
}
.page-about__more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color:#00B2FF;
    align-self: flex-start;
    width: 180px;
    height: 43px;
    border:1px solid #00B2FF;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 180px;
}
